@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');
*{
    margin:0;
    padding:0;

}
body{
    width:100%;
    height:100%;
    overflow-x: hidden;
}
/* navbar */
header{
    position:relative;
    margin:5px auto;
    height:69px;
    padding:5px;
    background:#fff;
    box-sizing:border-box;
    border-radius:4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
} 
.logo-edyst
{   
    height:30px;
    width:100px;
    padding:0.5%;
    float:left; 
}
nav ul .flag{
    display:flex;
    width:10px;
    height:10px;
    padding:5px;
}
nav ul{
    /* width:30%; */
    margin:15px;
    padding:0;
    display:flex;
    float:right;
    color:#424242;
    margin-right:2%;
}

nav ul li a {
    /* width:60%; */
    display:inline;
    margin:4px 0;
    padding:4px 20px;
    color:#424242;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
   
}
nav ul li a.active{
    background-color: tomato;
    color:#fff;
    width:45px;
    margin-right:5%;
    text-align:center;

}
@media (max-width:1200px){
    header{
        margin:5px;
        height:80px;
    }
}
@media (max-width:900px){
    .toggle-btn{
        display:block;
        width:30px;
        height:25px;
        margin-right:20px;
        float:right;
        text-align:center;
        padding:2px;
        font-size:20px;
        color:black;
        background:silver;
    }
    .toggle-btn:before{
        content: '\f0c9 ' ;
        font-family: fontAwesome;
        float:right;
        Line-height:30px;
    }
    nav ul{
        display: none;
    }
}

/* Home-page */

.home-page{
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url('./background.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main h1{
    width:60%;
    padding:6%;
    font-size:5em;
    font-weight:300;
    display: block;
    font-family: 'Roboto', sans-serif;
    color:#fff;
}
.main p{
    color:#fff;
    font-size:2rem;
    margin-top:-5%;
    padding-left:6%;  
}
.main .btn-1{
    display:block;
    margin-top:1%;
    margin-left:6%;
    width:10%;
    height:5vh;
    background-color: #4992ca;
    border-radius:2px;
    border-style: solid #fff;
    font-size: 12px;
    color:#fff;
    text-align:center;
}
.main .btn-2{
    display:block;
    margin-top:1%;
    margin-left:6%;
    width:10%;
    height:5vh;
    background-color:transparent;
    border-radius:2px;
    border-style: solid #fff;
    font-size: 12px;
    color:#fff;
    text-align:center;
}
.main .btn-3{
    display:inline-block;
    margin-top:1%;
    margin-left:6%;
    width:25%;
    height:5vh;
    background-color:#fff;
    border-radius:15px;
    border-style: solid #fff;
    font-size: 12px;
    font-weight:500;
    color:#000;
    text-align:center;
}
@media (max-width:900px){
    .home-page{
        width:100%;
        height:100vh;
    }
    .main .btn-1{
        width:30%;
        height:4vh
    }
    .main .btn-2{
        width:30%;
        height:4vh
    }
    .main .btn-3{
        width: 80%;
        height:4vh;
        
    }
}

/* monster section */
#monster , #designers-section{
    height:75vh;
    width: 100%;
    background-color: #4992ca;
}
.section-2 h2{
    color:#fff;
    font-size:5vh;
    font-weight:400;
    font-family: 'Roboto', sans-serif;
    text-align:center;
    padding: 10px;
}
.section-2 p{
    color:#fff;
    font-size:2vh;
    text-align:center;
    line-height:24px;
    white-space: pre-line;
}
.pokemon-types{
    margin:30px;
    height:40vh;
    display:grid;
    column-gap: 15px;
    grid-template-columns: repeat(3,0.23fr);
    grid-template-rows:repeat(3,0.2fr) ;
    justify-content: center;
    
}
#type-water, #type-fire, #type-leaf{
    display: grid;
    row-gap: 20px;;
    grid-template-rows: repeat(3,0.2fr);
    text-align: center;
    justify-content: center;
    color:#fff;
}
 .head{
    font-size:5vh;
}

 @media(max-width:1100px){
    #monster , #designers-section {
        height:180vh;
        width:100%;
    }
    .pokemon-types {
        /* grid-template-rows: repeat(3,0.12fr); */
        grid-template-columns: 1fr;
        grid-gap:20px; 
    } 
 }

 /* staticstics  */

 #statistics{
     width:100%;
     height:80vh;
     justify-content: center;
 }
 .stat h2{
     margin:15px auto;
     text-align: center;
     font-size:45px;

 }
 
 #stats-container{
    margin:4px;
    display: grid;
    column-gap:8vw;
    justify-content: center;
    grid-template-columns: repeat(2, 0.25fr);
    grid-template-rows: repeat(1, 0.5fr);
 }
 .one , .two{
    display:grid;
    text-align: center;
    justify-content: space-between;
    grid-template-rows: repeat(3,0.22fr);
    row-gap:30px;  
 }
  .stats-h3  {
     font-size: 25px;
 } 

 @media(max-width:900px){
    #statistics{
        width:100%;
        height:160vh;
    }
    #stats-container{
        grid-template-columns: 0.25fr;
        grid-gap:20px;
    }
 }
 /* section-5 */
 #poke-section{
     width:100%;
     height:80vh;
     margin:15px auto;
     text-align:center;
 }
 #poke-section h3{
     color: #000;
     text-align:center;
     font-size:3vh;
     padding-top:2%;
 }
 .poke-year{
     margin-top:3%;
     margin-left:20%;
     justify-content:center;
     display:grid;
     row-gap:15px;
     grid-template-rows: repeat(4,0.5fr);
    }
 .poke-one, .poke-two , .poke-three, .poke-four{
    display:grid;
    text-align: center;
    grid-template-columns: 0.17fr 0.17fr 0.44fr;
    column-gap:3px;
 }
 .poke{
     width:45%;
     height:55%;
 }
 .ele h4{
     color:#dddddd;
     font-size:20px;
     font-weight:100;
 }
 .ele h6{
     color:#575252;
     font-size:10px;
 }
 #txt p{
     font-size:15px;
     color:#8f8f91;
 }
 @media(max-width:900px){
    #poke-section{
        width:100%;
        height:200vh;
   }
   
   .poke-year{
       margin-top:8%;
       margin-left:5%;
       grid-template-rows: repeat(4,0.5fr);
       row-gap:20px;

   }
   .poke{
       width:30vw;
       height:10vh

   }
   .poke-one, .poke-two , .poke-three, .poke-four{
       column-gap:8%;
      
   }

 }


 /* section-6 */
 #q-section{
     width:100%;
     height:70vh;
     background-color: #4992ca;
     justify-content: center;;
 }
 .answer-section h2{
     font-size:45px;
     font-weight:200;
     color:#fff;
     font-family: 'Roboto', sans-serif;
     padding-top:30px;
     text-align: center;
 }
 .answer-section  h4{
     font-size: 3vh;
     font-weight:100;
     padding-left:15%;
     padding-top:2%;
     color:#fff;
 }
 .ques ol li{
     color:#fff;
 }

 .ques ul li{
     margin-left:20%;
     font-size:1em;
     font-weight:50;
     color:#fff;
     width:100vh;
     height:10vh;
 }
 @media(max-width:900px){
    #q-section{
        width:100%;
        height:105vh;
    }
     .ques ul li {
        margin-left:5%;
        width:95%;
        height:100%; 
        
    } 
    .ques ol li{
        margin-top:5%;
        margin-right:5%;
        /* list-style-type: none; */
    }
 }

 /* section-7 */
 #table-section{
     width:100%;
     height:80vh;
     justify-content:center;
 }
 .div-content{
     width:80%;
     height:60vh;
     justify-content:space-around;
     display:flex;
 }

 table{
     width:100%;
     height:10vh;
     text-align:center;
     justify-content: center;
     /* margin-left:22%;
     margin-top:5%; */
     border-collapse: collapse;
 }
 td,th{
     text-align:center;
     padding:12px;
     border:1px solid #dddddd;
 }
 th{
     color:#000;
     font-size:3.5vh;
     font-size:500;
 }
 td{
     color:#8a8a8a;
     font-weight:300;
     font-size:3vh;
 }

 /* section-8 */
 #section-8{
     width:100%;
     height:35vh;
     justify-content: center;
     background-color: #000000b3;
 }
 .div-know{
     text-align:center;
 }
 .div-know h2{
     padding-top:5%;
     text-align:center;
     color:#fff;
     font-size:6vh;
 }
 .div-know button{
     text-align:Center;
     justify-content: center;
     margin-top:2%;
     background-color: transparent;
     color:#fff;
     width:13vw;
     height:6vh;
     border:2px solid #fff;
     font-weight:400;
 }
 @media(max-width:900px){
    .div-know button{
        width:35vw;
        height:7vh;
    }
 }